<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>8VBZ3948LU.com.victoronsoftware.edr.networkextension.xpc</key>
		<true/>
		<key>group.com.victoronsoftware.edr.networkextension</key>
		<true/>
	</dict>
	<key>NEProviderClasses</key>
	<dict>
		<key>com.apple.networkextension.filter-data</key>
		<string>$(PRODUCT_MODULE_NAME).NetworkFilter</string>
		<key>com.apple.networkextension.dns-proxy</key>
		<string>$(PRODUCT_MODULE_NAME).DNSProxyProvider</string>
	</dict>
	<key>NetworkExtension</key>
	<dict>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.filter-data</key>
			<string>$(PRODUCT_MODULE_NAME).NetworkFilter</string>
			<key>com.apple.networkextension.dns-proxy</key>
			<string>$(PRODUCT_MODULE_NAME).DNSProxyProvider</string>
		</dict>
		<key>NEMachServiceName</key>
		<string>group.com.victoronsoftware.edr.networkextension</string>
	</dict>
	<key>NSSystemExtensionUsageDescription</key>
	<string>Fleet EDR monitors network connections for threat detection.</string>
</dict>
</plist>
